<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v=1">
</head>

<body>
    <div id="login-form-container" style="width: 50%; margin: 40px auto;">
        <div class="header-container">
            <h2>Login</h2>
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>

